<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body class="js-stop-transition">
    <div class="icon-bar">
      <a class="current" id="icon" href="/"><i class="fa fa-home"></i></a> 
      <a id="icon" href="/aboutme"><i class="fa fa-user"></i></a>
      <a id="icon" href="/mywork"><i class="fa fa-briefcase"></i></a>
      <a id="icon" href="/contactme"><i class="fa fa-envelope"></i></a>

      <div class="socials">
        <a id="social" target="_blank" href="https://twitter.com/NoU_CodingOnJs"><i class="fa fa-twitter"></i></a>
        <a id="social" target="_blank" href="https://www.github.com/YeahTheyCallMeAxa"><i class="fa fa-github"></i></a>
      </div>
    </div>
    <div class="center-position">
      <h1 class="red-fade" id="home-header">
        Hi,<br>
        I'm Axa,<br>
        Javascript developer.
      </h1>
    </div>
    <script>document.body.classList.remove('js-stop-transition')</script>
  </body>
</html>