<!DOCTYPE html>
<html lang="en">
  <head>			
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body class="js-stop-transition">
    <div class="icon-bar">
      <a id ="icon" href="/"><i class="fa fa-home"></i></a> 
      <a id="icon" href="/aboutme"><i class="fa fa-user"></i></a>
      <a class="current" id="icon" href="/mywork"><i class="fa fa-briefcase"></i></a>
      <a id="icon" href="/contactme"><i class="fa fa-envelope"></i></a>  

      <div class="socials">
        <a id="social" target="_blank" href="https://twitter.com/NoU_CodingOnJs"><i class="fa fa-twitter"></i></a>
        <a id="social" target="_blank" href="https://www.github.com/YeahTheyCallMeAxa"><i class="fa fa-github"></i></a>
      </div>
    </div>
    <div class="center-position">
      <h2 class="red-fade" id="contactme-header">My work</h2>
      <div class="mywork">
        <ul>
          <li>
            <h3><a href="https://github.com/YeahTheyCallMeAxa/EconomyBot" target="_blank">Discord.js-Economy bot</a></h3>
            <p>
              A strong Economy bot built with quick.db, discord.js-akago and discord.js<br>
            </p>
          </li>
          <li>
            <h3><a href="https://github.com/YeahTheyCallMeAxa/discordABota" target="_blank">Discord bot</a></h3>
            <p>
              The first discord bot that I made, just did a little revamp. 💅<br>
            </p>
          </li>
        </ul>
        And other projects viewable on my <a href="https://www.github.com/YeahTheyCallMeAxa" target="_blank">github</a>.
      </div>
    </div>
    <script>document.body.classList.remove('js-stop-transition')</script>
  </body>
</html>