/*
	License: MIT
	https://github.com/iColtz/icoltz-website/blob/main/LICENCE
*/

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap);

/* Main */ 

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #1d1d1d;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

textarea {
  resize: none;
}

body.js-stop-transition * { 
  transition: none !important; 
}

h1 {
  font-size: 100px;
  padding: 25px;
  margin: 0;
}

h2 {
  font-size: 75px;
  padding: 15px;
  margin: 0;
}

h3 {
  font-size: 25px;
  padding: 5px;
}

li {
  margin-bottom: 40px;
}

a:active, a:focus, a:visited {
  color: #c33;
  transition: 1s;
}

a:hover {
  color: rgb(170, 42, 42);
  transition: 1s;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 75px;
    transition: 1s;
  }
  h2 {
    font-size: 40px;
    transition: 1s;
  }
}

/* Icon Bar */

.icon-bar {
  width: 75px;
  height: 100%;
  position: fixed;
  background-color: #181818;
  transition: 1s;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 20px;
  transition: 1s;
}

.socials {
  position: fixed;
  width: 75px;
  bottom: 0%;
  transition: 1s;
}

.current i {
  color: #FF5858;
}

#icon:hover {
  transition: 1s;
  background-color: #000;
}

#social:hover {
  transition: 1s;
  color: #c2c2c2;
}

@media only screen and (max-height: 388px) {
  .socials {
    display: none;
  }
  .icon-bar {
    width: 50px;
  }
  .icon-bar a {
    font-size: 10px;
    padding: 10px;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #FF5858; 
}

::-webkit-scrollbar-thumb:hover {
  background: #cc2e2e; 
}

/* Center position */

.center-position {
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 60%;
  max-height: 90%;
}

@media only screen and (max-width: 768px) {
  .center-position {
    left: 27%;
  }
}

@media only screen and (max-height: 388px) {
  .center-position {
    left: 15%;
  }
}

/* Red Fade */

.red-fade {
  color: white;
  padding-left: 0;
  text-decoration: none;
  background: linear-gradient(to right, #FFF 50%, #FF5858 50%, #CC2E5D);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  transition: 1s;
}
 
.red-fade:hover {
  background-position: -100%;
  background-color: white;
  transition: 1s;
}

/* Home Page */

#home-header {
  font-size: 100px;
}

@media only screen and (max-width: 768px) {
  #home-header {
    font-size: 45px;
  }
}

/* About Page */

#aboutme-header:hover {
  background-position: -100%;
  transition: 1s;
}

#aboutme {
  font-size: 28px;
  max-width: 800px;
  transition: 0.5s;
  color: white;
}

#aboutme:hover {
  transition: 0.5s;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  #aboutme {
    font-size: 25px;
  }
  #aboutme:hover {
    font-size: 27px;
  }
}

/* Contact Form */

#contactme-header {
  padding-bottom: 15px;
}

.form-control {
  background: #2b2b2b;
  padding: 10px;
  border: none;
  outline: none;
  max-width: 750px;
  width: 100%;
  color: #fff;
  font-size: 25px;
  margin-bottom: 16px;
  transition: 0.5s;
}

.form-control:focus {
  transition: 0.5s;
  border-bottom: solid #ad3a3a;
}

.form-control:focus::placeholder {
  color: transparent;
}

#submit-button {
  background: transparent;
  transition: 0.5s;
  max-width: 100px;
  width: 100%;
  font-size: 100%;
  color: #ad3a3a;
  border: 2px solid #ad3a3a;
}

#submit-button:hover {
  background: #ad3a3a;
  color: white;
  transition: 0.5s;
}

/* My Work */

.mywork {
  color: white;
  font-size: 25px;
}

.mywork h3 {
  margin: 0;
  font-size: 35px;
}

.mywork p {
  margin: 10px;
}


/* 404 Page */

#error-num {
  -webkit-text-fill-color: white;
  background: none;
  border: 0;
}

.home-button {
  background-color: #FF5858;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: 1s;
}

.home-button:hover {
  background-color: #cc2e2e;
  transition: 1s;
}